#tradable-card {
  height: 250px;
  min-width: 200px;
  margin-bottom: 25px;
  margin-right: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tradable-card:hover {
  cursor: pointer;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

#tradable-card-top {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tradable-card-bottom {
  height: 30%;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding-left: 10px;
  padding-right: 10px;
}

#tradable-card-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tradable-card-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#asset-image {
  height: 140px;
  width: 140px;
  object-fit: contain;
}

#asset-issuer {
  font-size: 14px;
}

#asset-name {
  font-size: 14px;
}

#asset-price {
  font-size: 12px;
}