#dashboard-container {
  
}

#dashboard-sub-container {
  display: flex;
  height: 100vh;
  padding-top: 30px;
}

#dashboard-asset-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#dashboard-404 {
  object-fit: contain;
}